@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid black;
    padding: 0px 20px;
    margin-bottom: 5px;
}

.logo-container{
    display: flex;
    width: 300px;
    gap: 20px;
    align-items: center;

    p{
        color: rgb(255, 145, 0);
        font-size: 1.5rem;
        font-weight: 800;
    }
}

.logo{
    width: 4rem;
    border-radius: 50%;

}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    gap: 5rem;
    font-size: 1rem;

    :hover{
        font-weight: 800;
        text-decoration: underline;
    }
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        padding-top: 20px;
    }
}

.search{
    padding: 10px;
}

.body-img{
    width: 45%;
}

.filter{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:20px;
}

.filter-btn{
    cursor: pointer;
    padding: 10px;
    background-color: rgb(255, 145, 0);
    box-shadow: 2px 5px black;
    transition: all .3s;
    border-radius: 2rem ;
    margin-right: 2rem;

    &:hover{
        transform: scale(1.07);
        transition: all .3s;
    }
}

.restro-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content: space-between;
    align-items: center;
}

.res-card{
    width: 200px;
    /* height: 400px; */
    margin: 5px;
    padding: 1.3rem;
    border-radius: 10px;
    border: 1px solid white;
    transition: .3s;

    &:hover{
        border: 1px solid black;
        box-shadow: 10px 15px 20px #f0f0f0;
        transform: scale(1.10);
        transition: .3s;
    }

    h4{
        font-size: .7rem;
    }
}

.res-logo{
    width: 100%;
    height: 200px;
}

.shimmer-image{
    width: 700px;
    height: 700px;
    background-color: #8080803c;
}

.shimmer-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content: space-between;
    align-items: center;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 5px;
    padding: 1.3rem;
    border-radius: 10px;
    background-color: #8080803c;
}