@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0px 20px;
}

.logo-container{
    display: flex;
    width: 300px;
    gap: 20px;
    align-items: center;

    p{
        color: rgb(255, 145, 0);
        font-size: 1.5rem;
    }
}

.logo{
    width: 4rem;
    border-radius: 50%;

}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    gap: 5rem;
    font-size: 1rem;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}